source/data/test_patches/
source/data/train_patches/
source/data/valid_patches/
source/data/test_patches256/
source/data/train_patches256/
source/data/valid_patches256/
source/checkpoints/checkpoint.pt/
source/checkpoints/checkpoint_1.pt
source/checkpoints/checkpoint.pt
source/sample_predictions